# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\toy-project\data-playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
